<div class="agenda">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Horário</th>
                        <th>Evento</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="agenda-time">
                            8:00 - 9:00 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                              <p>Minicurso: Normalização de Trabalhos Acadêmicos: Padrões da ABNT - 30 vagas</p>
                              <p>Minicurso: Español para Niños - 10 vagas</p>
                              <p>Minicurso: #partiuempreender - 15 vagas</p>
                              <p>Oficina: Tie Dye - 10 vagas</p>
                              <p>Oficina: Trajetória acadêmica: criação e preenchimento de currículos e carta de apresentação - 20 vagas</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            9:00 AM - 10:00 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                              <p>Sala Temática: Paródia com vídeo-clipe no ensino de Química.</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            10:00 AM - 10:30 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Intervalo<br>Apresentação Cultural
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            10:30 AM - 11:30 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <p>Jogo: Jogos Lógicos</p>
                                <p>Minicurso: #partiuempreender - 15 vagas</p>
                                <p>Palestra: Apresentação do Jogo Amarelinho - 30 vagas</p>
                                <p>Oficina: Trajetória acadêmica: criação e preenchimento de currículos e carta de apresentação - 20 vagas</p>
                                <p>Oficina: Aprendendo operações com frações na feitura de bolos integrais - 9 vagas</p>
                                <p>Oficina: O despertar da matemática - 20 vagas</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
