<div class="agenda">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Horário</th>
                        <th>Evento</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="agenda-time">
                            8:00 - 9:00 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                              <p>Jogo: Jogos Lógicos</p>
                              <p>Minicurso: Preparação de receitas com PANCS (Plantas alimentícias não convencionais) - 15 vagas</p>
                              <p>Minicurso: TOEFL test preparation - 20 vagas</p>
                              <p>Oficina: As soluções no cotidiano - 10 vagas</p>
                              <p>Oficina: Ikebana - 15 vagas</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            10:00 AM - 10:30 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Intervalo<br>Apresentação Cultural
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            10:30 AM - 11:30 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <p>Palestra: Breve História dos Calendários - 40 vagas</p>
                                <p>Palestra: As mulheres na matemática - 30 vagas</p>
                                <p>Palestra: Apresentação do Jogo Amarelinho - 30 vagas</p>
                                <p>Oficina: As soluções no cotidiano - 10 vagas</p>
                                <p>Oficina: Oficina de Bijuterias de Recicláveis - 20 vagas</p>
                                <p>Oficina: A Fórmula dos Alimentos - 15 vagas</p>
                                <p>Oficina: O despertar da matemática - 20 vagas</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
