<div class="agenda">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Horário</th>
                        <th>Evento</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="agenda-time">
                            8:00 - 9:00 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                              <p>Jogo: Jogos Lógicos</p>
                              <p>Minicurso: Etiqueta Profissional - 15 vagas</p>
                              <p>Minicurso: A internet como ferramenta de pesquisa técnico-científica - 30 vagas</p>
                              <p>Minicurso: Español para Niños - 10 vagas</p>
                              <p>Oficina: Oficina de Turbantes - 20 vagas</p>
                              <p>Oficina: Artmetria - 20 vagas</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            10:00 AM - 10:30 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Mesa-redonda<br>Avaliação do Evento
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            11:30 AM - 12:30 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <p>Festival de Talentos</p>
                                <p>Coquetel</p>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
