<!-- Inicio da busca -->
<div class="modal fade" id="findModal" tabindex="-1" role="dialog" aria-labelledby="findModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="findModalLabel">Encontrar inscrição</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert">As atividades listadas <strong>apenas significam que você está inscrito</strong> e não necessariamente representa a vaga reservada. Fique atento a lista de inscritos aprovados a ser liberada posteriormente.</div>
        <form action="/find" method="post">
          <div class="form-group">
            <label>CPF</label>
            <input type="text" class="form-control" name="cpf" placeholder="CPF (Apenas números)" required>
          </div>
          <button type="submit" class="btn btn-default">Consultar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<!-- Inicio dos avisos -->
<div class="modal fade" id="avisosModal" tabindex="-1" role="dialog" aria-labelledby="avisosModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="avisosModalLabel">Avisos</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert">Os participantes do Minicurso MC05 - Tópicos de Segurança no Laboratório <strong>devem usar calça jeans e sapato fechado</strong>.</div>
        <div class="alert alert-info" role="alert">
          O Concurso da Ponte, ocorrerá entre os dias 24 e 27/10/2017, nos turnos matutino e noturno, terá premiação de <strong>R$ 500,00</strong>.<br>
          As <strong>Fichas de Inscrição</strong> e as <strong>Declarações de Matrículas</strong> deverão ser enviadas para o email <a href="mailto:arirocha16@gmail.com">arirocha16@gmail.com</a> para a efetivação da inscrição.<br>
          <a href="https://drive.google.com/file/d/0B9O50TW-UmDPNTNIc2xhdGNXZU0/view?usp=sharing" target="_blank">Consulte o Regulamento</a>.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<!-- Inicio das inscrições -->
<div class="modal fade" id="inscricoes" tabindex="-1" role="dialog" aria-labelledby="inscricoesLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="inscricoesLabel">Inscrições</h4>
      </div>
      <div class="modal-body">
        <form action="/subscribe" method="post">
          <div class="form-group">
            <label>Nome completo</label>
            <input type="text" class="form-control" name="name" placeholder="Nome completo" required>
          </div>
          <div class="form-group">
            <label>Endereço de Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label>CPF</label>
            <input type="text" class="form-control" name="cpf" placeholder="CPF (Apenas números)" required>
          </div>
          <div class="form-group">
            <label>Marque as atividades que deseja participar</label>
            <small>(Para marcar segure CTRL)</small>
            <select multiple class="form-control" name="atividades">
              {% for item in lista_ativ %}
                <option>{{item[0]}} - {{item[1]}} | {{item[2]}}</option>
              {% endfor %}
            </select>
          </div>
          <br>
          <div class="alert alert-danger" role="alert"><strong>Atenção:</strong><br>
            <ul>
              <li>As atividades têm vagas limitadas.</li>
              <li>As inscrições deferidas serão divulgadas.</li>
              <li>Dados inválidos anularão seu certificado.</li>
              <li>Será considerada a inscrição mais recentes em caso de choque de horários.</li>
            </ul>
          </div>
          <div class="alert alert-info" role="alert">Qualquer dúvida relacionada aos códigos ou dias/ horários das atividades consultar a <a href="https://docs.google.com/spreadsheets/d/1uuUWsVcOvFKtBc6rHP52cHtlcA5ZZVNpYRjhJ7eYGwM/edit#gid=0" target="_blank">Relação de Atividades</a> e/ou a <a href="https://docs.google.com/spreadsheets/d/1uuUWsVcOvFKtBc6rHP52cHtlcA5ZZVNpYRjhJ7eYGwM/edit#gid=687761341" target="_blank">Programação</a>.</div>
          <button type="submit" class="btn btn-default">Enviar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
